body {
  background-color: blue;
  background-image: url("amongcraft.png");
  background-position: fixed;
}

h1 {
  font-family: 'Micro 5';
  color: Black;
  background-color: lightgrey;
  text-shadow: 2px 2px 3px red;
  outline: 3px dotted red;
}

h2 {
  font-family: Courier New;
}

h3 {
  font-family: Lucida Console;
}

p {
  color: darkblue;
  font-family: Comic Sans MS;
}

div {
  border: 4px dashed darkblue;
  outline: 2px dotted red;
  background-color: lightgrey;
  margin: 20px;
  padding: 20px;
}
